<link href="../../Style/css/loginPage.css" rel="stylesheet" />
    <!-----start-main---->
    <div class="main" ng-controller="loginController">
        <div class="login-form">
            <h1>Member Login</h1>
            <div class="head">
                <img src="images/user.png" alt="" />
            </div>
            <form ng-submit="signIn()">
                <input type="text" class="text" ng-model="userInfo.userName" value="USERNAME" placeholder="USERNAME">
                <input type="password" value="Password" ng-model="userInfo.password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                <div class="submit">
                    <input type="submit" value="LOGIN">
                </div>
                <p><a href="#">Forgot Password ?</a></p>
            </form>
        </div>
        <!--//End-login-form-->
        <!-----start-copyright---->

        <!-----//end-copyright---->
    </div>
    <!-----//end-main---->


