<div class="title_content_left">
    <div class="title_content_right">
        <div class="title_content_center">
            <div class="home_icon">
                <a ui-sref="welcome" href="#">
                    <img src="Images/old-template/home_icon.gif" alt="home icon" />
                </a>

            </div>
            <div class="title_input_left" style="width: 255px;">
                <div class="title_input_right">
                    <div class="title_input_center">
                        <span class="text-uppercase">{{titleName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<section class="content-header">
        <h1>
            {{titleName}}

        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="welcome" href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        </ol>
    </section>-->
</div>

