<content-header title-name="Công việc - thêm mới"></content-header>

<div style="background-color: #72b3e9; height: 5px; width: 100%;">
</div>

<div ng-controller="JobCtrl" ng-init="init()">
    <table cellspacing="2" cellpadding="0" border="0" class="table_wrap" style="width: 98%;
        margin: 20px auto 0px auto;">
        <tbody>
            <tr class="hide">
                <td style="width: 150px; padding: 5px;" class="td">
                    Mã công việc
                </td>
                <td class="td" style="padding: 5px;">
                    <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" ng-model="dataSelected.ID"  />
                </td>
            </tr>
            <tr>
                <td class="td" style="padding: 5px;">
                    Năm
                </td>
                <td class="td" style="padding: 5px;">
                    <select ng-model="dataSelected.YearId" name="YearId" id="YearId"
                            ng-options="option.value as option.name for option in yearSelectList"></select>
                </td>
            </tr>

            <tr>
                <td class="td" style="padding: 5px;">
                    Tháng
                </td>
                <td class="td" style="padding: 5px;">
                    <select ng-model="dataSelected.MonthId" name="MonthId" id="MonthId"
                            ng-options="option.value as option.name for option in monthSelectList"></select>
                </td>
            </tr>
            <tr>
                <td class="td" style="padding: 5px;">
                    Tuần
                </td>
                <td class="td" style="padding: 5px;">
                    <select ng-model="dataSelected.WeekId" name="WeekId" id="WeekId"
                            ng-options="option.value as option.name for option in weekSelectList"></select>
                </td>
            </tr>
            
            <tr>
                <td class="td" style="padding: 5px;">
                    Báo cáo công việc
                </td>
                <td class="td" style="padding: 5px;">
                    <textarea name="Description" id="Description" style="height: 300px; width: 400px;" rows="2" cols="20" placeholder="" ng-model="dataSelected.Description"></textarea>
                </td>
            </tr>

        </tbody>
    </table>
    <div style="text-align: center; margin-top: 10px;">
        <button ng-disabled="addProductForm.Name.$error.required"
                ng-click="actionConfirm('INSERT')"
                ng-show="dataSelected.ID==0">
            <span class="glyphicon glyphicon-plus"></span>
            Thêm
        </button>
        <button ng-click="actionConfirm('UPDATE')"
                ng-show="dataSelected.ID!=0">
            <span class="glyphicon glyphicon-save"></span>
            Lưu thay đổi
        </button>
        <button ui-sref="joblist">
            <span class="glyphicon glyphicon-share-alt"></span>
            Trở về
        </button>
        <br>
    </div>
    <div style="margin-top: 10px;">
    </div>
</div>