<content-header title-name="CÔNG VIỆC - XEM DANH SÁCH"></content-header>

<div style="background-color: #72b3e9; height: 5px; width: 100%;">
</div>
<!--search table-->
<form name="searchJobForm" class="form-horizontal" novalidate="">
    <table cellspacing="2" cellpadding="0" border="0" class="table_wrap" style="width: 98%; margin: 20px auto 0px auto;">
        <tbody>
            <tr>
                <td class="td" colspan="4" style="background-color: #cccccc; padding-left: 5px; height: 28px;">
                    Tìm kiếm
                </td>
            </tr>
            <tr>
                <td class="td" style="width: 200px; background-color: #dddddd; padding-left: 5px; height: 28px;">
                    Năm
                </td>
                <td class="td" style="background-color: #dddddd; padding-left: 5px;">
                    <select ng-model="searchEntry.YearId" name="YearId" id="YearId"
                            ng-options="option.value as option.name for option in yearSelectList"></select>
                </td>

                <td class="td" style="width: 200px; background-color: #dddddd; padding-left: 5px; height: 28px;">
                    Tháng
                </td>
                <td class="td" style="background-color: #dddddd; padding-left: 5px;">
                    <select ng-model="searchEntry.MonthId" name="MonthId" id="MonthId"
                            ng-options="option.value as option.name for option in monthSelectList"></select>
                </td>
            </tr>
            <tr>
                <td class="td" style="width: 200px; background-color: #dddddd; padding-left: 5px; height: 28px;">
                    Tuần
                </td>
                <td class="td" style="background-color: #dddddd; padding-left: 5px;">
                    <select ng-model="searchEntry.WeekId" name="WeekId" id="WeekId"
                            ng-options="option.value as option.name for option in weekSelectList"></select>
                </td>
                <td class="td" style="width: 200px; background-color: #dddddd; padding-left: 5px; height: 28px;">
                    Người dùng
                </td>
                <td class="td" style="background-color: #dddddd; padding-left: 5px;">
                    <select ng-model="searchEntry.Potential"
                            ng-options="item.ID as item.Name for item in assignedUserIDSelectList"></select>
                </td>
            </tr>
            
            <tr>
                <td class="td" style="width: 200px; background-color: #dddddd; padding-left: 5px; height: 28px;">
                   
                </td>
                <td class="td" style="background-color: #dddddd; padding-left: 5px;">
                    
                </td>
                <td class="td" style="width: 200px; background-color: #dddddd; padding-left: 5px; height: 28px;">
                    <input type="submit" class="form-control btn-success" ng-click="search(searchEntry)" value="TÌM KIẾM" style="width: 142px;" />
                </td>
                <td class="td" style="background-color: #dddddd; padding-left: 5px;"></td>
            </tr>

        </tbody>
    </table>
</form>
<div>
    <!--list table-->
    <angular-grid-table grid-info="gridInfo" root-scope="this"></angular-grid-table>
</div>
<!--<div style="width: 98%; margin: 20px auto 0px auto;">
    <input type="submit" name="ctl00$ContentPlaceHolder1$btnExport" value="Xuất ra file" id="ContentPlaceHolder1_btnExport" />
</div>-->
<div style="margin-top: 10px;">
</div>