<content-header title-name="Sản phẩm thêm mới"></content-header>

<!-- Main content -->
<section class="content">
    <div class="row ng-scope" ng-controller="ProductCtrl" ng-init="init()">
        <div class="col-md-12 col-sm-12">

            <!--search-->
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-horizontal row" name="addProductForm" novalidate="">
                        <div class="box-body">
                            <div class="form-group hide">
                                <label for="ID" class="col-sm-2 control-label text-left-important">ID</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" ng-model="dataSelected.ID" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Code" class="col-sm-2 control-label text-left-important">Mã sản phẩm</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="Code" name="Code" placeholder="Mã sản phẩm" ng-model="dataSelected.Code" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label text-left-important">Tên sản phẩm</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ID" name="Name" placeholder="Name" ng-model="dataSelected.Name" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="DistrictID" class="col-sm-2 control-label text-left-important">Quận/Huyện</label>
                                <div class="col-sm-5 padding-right-19 ">
                                    <select class="form-control" ng-model="dataSelected.DistrictID"
                                            ng-options="item.ID as item.Name for item in districtSelectList"
                                            ng-change="changeDistrict(dataSelected.DistrictID)">
                                        <option value="">-- Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="WardID" class="col-sm-2 control-label text-left-important">Phường/Xã</label>
                                <div class="col-sm-5 padding-right-19 ">
                                    <select class="form-control" ng-model="dataSelected.WardID"
                                            ng-options="item.ID as item.Name for item in wardSelectList | filterDistrictID:dataSelected.DistrictID"
                                            ng-disabled="dataSelected.DistrictID == null || dataSelected.DistrictID == ''">
                                        <option value="">
                                            -- Chọn Phường/Xã
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-sm-2 control-label text-left-important">Địa chỉ</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Địa chỉ" ng-model="dataSelected.Address" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="FudPicture" class="col-sm-2 control-label text-left-important">Hình minh họa</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="FudPicture" name="FudPicture" placeholder="Hình minh họa" ng-model="dataSelected.FudPicture" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Struture" class="col-sm-2 control-label text-left-important">Kết cấu cao ốc</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="Struture" name="Struture" placeholder="Kết cấu cao ốc" ng-model="dataSelected.Struture" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="AreaPerFloor" class="col-sm-2 control-label text-left-important">Diện tích 1 sàn</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="AreaPerFloor" name="AreaPerFloor" placeholder="Diện tích 1 sàn" ng-model="dataSelected.AreaPerFloor" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="AvailableArea" class="col-sm-2 control-label text-left-important">Diện tích cho thuê</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="AvailableArea" name="AvailableArea" placeholder="Diện tích cho thuê" ng-model="dataSelected.AvailableArea" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5">
                                    <label for="AvailableArea" class="col-sm-12 control-label text-left-important text-danger">
                                        Định dạng dữ liệu cần nhập: aa bb cc dd. Ví dụ: 45 53 60 66
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AreaDescription" class="col-sm-2 control-label text-left-important">Mô tả diện tích cho thuê</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="AreaDescription" name="AreaDescription" placeholder="Mô tả diện tích cho thuê" ng-model="dataSelected.AreaDescription" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="HirePrice" class="col-sm-2 control-label text-left-important">Giá cho thuê</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="HirePrice" name="HirePrice" placeholder="Giá cho thuê" ng-model="dataSelected.HirePrice" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5">
                                    <label for="AvailableArea" class="col-sm-12 control-label text-left-important text-danger">
                                        Định dạng dữ liệu cần nhập: aa,bb cc,dd ee,ff. Ví dụ: 10.5 18.5
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PriceDescription" class="col-sm-2 control-label text-left-important">Mô tả giá cho thuê</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="PriceDescription" name="PriceDescription" placeholder="Mô tả giá cho thuê" ng-model="dataSelected.PriceDescription" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="ServiceFee" class="col-sm-2 control-label text-left-important">Phí dịch vụ</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ServiceFee" name="ServiceFee" placeholder="Phí dịch vụ" ng-model="dataSelected.ServiceFee" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="VATTax" class="col-sm-2 control-label text-left-important">Thuế VAT</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="VATTax" name="VATTax" placeholder="Thuế VAT" ng-model="dataSelected.VATTax" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="TotalPrice" class="col-sm-2 control-label text-left-important">Giá bao gồm tất cả</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="TotalPrice" name="TotalPrice" placeholder="Giá bao gồm tất cả" ng-model="dataSelected.TotalPrice" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="ParkingFee" class="col-sm-2 control-label text-left-important">Phí gửi xe</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ParkingFee" name="ParkingFee" placeholder="Phí gửi xe" ng-model="dataSelected.ParkingFee" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="ElectricityFee" class="col-sm-2 control-label text-left-important">Tiền điện</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ElectricityFee" name="ElectricityFee" placeholder="Tiền điện" ng-model="dataSelected.ElectricityFee" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="HireDuration" class="col-sm-2 control-label text-left-important">Thời hạn thuê</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="HireDuration" name="HireDuration" placeholder="Thời hạn thuê" ng-model="dataSelected.HireDuration" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="PrePaid" class="col-sm-2 control-label text-left-important">Đặt cọc</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="PrePaid" name="PrePaid" placeholder="Đặt cọc" ng-model="dataSelected.PrePaid" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Payment" class="col-sm-2 control-label text-left-important">Thanh toán</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="Payment" name="Payment" placeholder="Thanh toán" ng-model="dataSelected.Payment" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="DecorationTime" class="col-sm-2 control-label text-left-important">Thời gian trang trí</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="DecorationTime" name="DecorationTime" placeholder="Thời gian trang trí" ng-model="dataSelected.DecorationTime" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="BuildingDirectionID" class="col-sm-2 control-label text-left-important">Hướng nhà</label>
                                <div class="col-sm-5 padding-right-19 ">
                                    <select ng-model="dataSelected.BuildingDirectionID" name="BuildingDirectionID" id="BuildingDirectionID" class="form-control"
                                            ng-options="option.Value as option.Name for option in buildingDirectionIDSelectList">
                                        <option value="">-- Chọn hướng nhà</option>
                                    </select>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="BuildingType" class="col-sm-2 control-label text-left-important">Loại nhà</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="BuildingType" name="BuildingType" placeholder="Loại nhà" ng-model="dataSelected.BuildingType" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="OtherFee" class="col-sm-2 control-label text-left-important">Phí ngoài giờ</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="OtherFee" name="OtherFee" placeholder="Phí ngoài giờ" ng-model="dataSelected.OtherFee" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="col-sm-2 control-label text-left-important">Chú thích</label>
                                <div class="col-sm-5 padding-right-19 ">
                                    <textarea name="Description" id="Description" class="form-control" rows="15" placeholder="Chú thích..." ng-model="dataSelected.Description"></textarea>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="ManagerName" class="col-sm-2 control-label text-left-important">Tên quản lý</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ManagerName" name="ManagerName" placeholder="Tên quản lý" ng-model="dataSelected.ManagerName" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="ManagerMobilePhone" class="col-sm-2 control-label text-left-important">SĐT quản lý</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="text" class="form-control" id="ManagerMobilePhone" name="ManagerMobilePhone" placeholder="SĐT quản lý" ng-model="dataSelected.ManagerMobilePhone" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="IsHiredWholeBuilding" class="col-sm-2 control-label text-left-important">Cho thuê nguyên căn?</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="checkbox" id="IsHiredWholeBuilding" name="IsHiredWholeBuilding" ng-model="dataSelected.IsHiredWholeBuilding" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="IsGroundFloor" class="col-sm-2 control-label text-left-important">Là tầng trệt?</label>
                                <div class="col-sm-5 padding-right-19">
                                    <input type="checkbox" id="IsGroundFloor" name="IsGroundFloor" ng-model="dataSelected.IsGroundFloor" ng-change="changeText()" />
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label for="Status" class="col-sm-2 control-label text-left-important">Tình trạng sản phẩm</label>
                                <div class="col-sm-5 padding-right-19 ">
                                    <select ng-model="dataSelected.Status" name="Status" id="Status" class="form-control"
                                            ng-options="option.value as option.name for option in statusOptions"></select>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <div class="col-md-3 pull-left" ng-show="dataSelected.ID==0">
                        <button class="btn col-xs-12"
                                ng-class="{'{{themeButton}}':layout.enableButtonOrther}"
                                ng-disabled="addProductForm.Name.$error.required"
                                ng-click="actionConfirm('INSERT')">
                            <span class="glyphicon glyphicon-plus"></span>
                            Thêm
                        </button>
                    </div>
                    <div class="col-md-3 pull-left" ng-show="dataSelected.ID!=0">
                        <button class="btn col-xs-12"
                                ng-class="{'{{themeButton}}':layout.enableButtonOrther}"
                                ng-disabled="addProductForm.Name.$error.required"
                                ng-click="actionConfirm('UPDATE')">
                            <span class="glyphicon glyphicon-plus"></span>
                            Lưu thay đổi
                        </button>
                    </div>
                    <div class="col-md-3 pull-left">
                        <button class="btn col-xs-12"
                                ng-class="{'{{themeButton}}':layout.enableButtonOrther}"
                                ui-sref="productlist">
                            <span class="glyphicon glyphicon-plus"></span>
                            Trở về
                        </button>
                    </div>
                </div>
                <!--<div class="col-sm-12 col-md-8 col-md-offset-2">
                    <right-action theme-button="themeButton" full-action="false"></right-action>
                </div>-->
            </div>
        </div>
    </div>

</section>
<script>

    //Toggle button
    var o = $.AdminLTE.options;
    if (o.enableBoxWidget) {
        $.AdminLTE.boxWidget.activate();
    }
</script>